In [1]:
a = 10
if a == 11 :
    print("this is my first condition")

In [2]:
a = 10
if a > 5:
    pass

In [3]:
a = 10
if a > 8:
    print("print this if condition is true")

print this if condition is true

In [4]:
a = 10
if a < 8:
    print("print this if condition is true")

In [5]:
a = 10
if a != 11:
    print("my condition is false")
else:
    print("print this")

my condition is false

In [6]:
a = 10
if a == 11:
    print("my condition is false")
else:
    print("print this")

print this

In [7]:
a = 11
if a == 12:
    print("here we are trying to comparee 10 with 12")
elif a == 11:
    print("we are trying to compare with 10 to 11")
else:
    print("if all the blocks will fail then do this")

we are trying to compare with 10 to 11

In [8]:
a = 10
if a == 12:
    print("here we are trying to comparee 10 with 12")
elif a == 10:
    print("we are trying to compare with 10 to 11")
else:
    print("if all the blocks will fail then do this")

we are trying to compare with 10 to 11

In [9]:
price = 500
if price  >500:
    print("may be I wont be able to buy a jacket")
elif price<500:
    print("i will be able to buy a jacket")

In [10]:
price = 500
if price  >500:
    print("may be I wont be able to buy a jacket")
elif price<= 500:
    print("i will be able to buy a jacket")

i will be able to buy a jacket

In [14]:
price = 500
if price  >500:
    print("may be I wont be able to buy a jacket")
elif price<500:
    print("i will be able to buy a jacket")
else price == 500:
    print("i dont know")

SyntaxError: invalid syntax (3585018699.py, line 6)

you can not add any condition in else blog

In [15]:
price = 500
if price  >500:
    print("may be I wont be able to buy a jacket")
elif price<500:
    print("i will be able to buy a jacket")
elif price == 500:
    print("for sure i able to buy")

else:
    print("i dont know")

for sure i able to buy

In [16]:
price  >500

False

In [17]:
 price<500

False

In [18]:
price == 500

True

In [19]:
l = [1,2,3,4,5,6]
2 in l

True

In [20]:
if 2 in l:
    print("try to perform task")
else:
    print("do not perform this task")

try to perform task

In [21]:
if 60 in l:
    print("try to perform task")
else:
    print("do not perform this task")

do not perform this task

In [22]:
60 in l

False

In [26]:
if 1 in l:
    print("try to do a addition")
elif 2 in l :
    print("try to do substraction")
elif 3 in l  :
    print("try to do mul")

try to do a addition

In [27]:
l

[1, 2, 3, 4, 5, 6]

all the condition is true if 1st condition is true thin its not going to check any other condition

In [28]:
if 10 in l:
    print("try to do a addition")
elif 2 in l :
    print("try to do substraction")
elif 3 in l  :
    print("try to do mul")

try to do substraction

In [29]:
if 10 in l:
    print("try to do a addition")
elif 2 in l :
    print("try to do substraction")
elif 3 in l  :
    print("try to do mul")
else:
    print("do not perform this task")
if 4 in l:
    print("this is a new statement")

try to do substraction
this is a new statement

here last if condion is completely new blog, thst's why it is going

In [30]:
a =  400

In [31]:
b = input()

657567

In [32]:
type(b)

str

In [33]:
b = int(input())

686978079767

In [34]:
type(b)

int

In [35]:
b = int(input())

hgfvhgu

ValueError: invalid literal for int() with base 10: 'hgfvhgu'

In [36]:
b=input()

ktfjytgukyu

In [38]:
price = int(input())
if price <500:
    print("i will be able buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    if price < 300:
        print("i will be able to buy anything")
    else:
        print("i wont bee able to buy anything")
else:
    print("i wont be buy anything with this price tag")

98
i will be able buy something
i will be able to buy a jacket
i will be able to buy anything

In [39]:
price = int(input())
if price <500:
    print("i will be able buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy anything")
        if price < 200:
            print("i woud to like to do something")
    else:
        print("i wont bee able to buy anything")
else:
    print("i wont be buy anything with this price tag")
    if price>500:
        print("lets try spomeythinf")

70
i will be able buy something
i will be able to buy a jacket

In [41]:
price = int(input())
if price <500:
    print("i will be able buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy anything")
        if price < 200:
            print("i woud to like to do something")
    else:
        print("i wont bee able to buy anything")
else:
    print("i wont be buy anything with this price tag")
    if price>500:
        print("lets try spomeythinf")

65456476
i wont be buy anything with this price tag
lets try spomeythinf

In [42]:
price = int(input())
if price <500:
    print("i will be able buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy anything")
        if price < 200:
            print("i woud to like to do something")
    else:
        print("i wont bee able to buy anything")
else:
    print("i wont be buy anything with this price tag")
    if price>500:
        print("lets try spomeythinf")

889
i wont be buy anything with this price tag
lets try spomeythinf

In [43]:
price = int(input())
if price <500:
    print("i will be able buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy anything")
        if price < 200:
            print("i woud to like to do something")
    else:
        print("i wont bee able to buy anything")
else:
    print("i wont be buy anything with this price tag")
    if price>500:
        print("lets try spomeythinf")

99
i will be able buy something
i will be able to buy a jacket

In [44]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 400:
        print("try something else")
        if marks<300:
            print("got tofel")
else:
        print(" you got GRE")

700
 you got GRE

## val = float(input("enter a floating point  number"))
if val>=0:
    if val == 0:
        print("value is zero")
    else:
        print("value is positive number")
else:
    print("number is negative")

In [46]:
val = float(input("enter a floating point  number"))
if val>=0:
    if val == 0:
        print("value is zero")
    else:
        print("value is positive number")
else:
    print("number is negative")

enter a floating point  number7.9
value is positive number

In [47]:
val = float(input("enter a floating point  number"))
if val>=0:
    if val == 0:
        print("value is zero")
    else:
        print("value is positive number")
else:
    print("number is negative")

enter a floating point  number9.9
value is positive number

In [48]:
a = 10
if a <= 10:
    print("try to do something")

try to do something

In [49]:
a = 10
if a < 10 or a ==10 :
    print("try to do something")

try to do something

### or operator

In [50]:
a = 10
if a < 10 or a >10 :
    print("try to do something")

In [51]:
a = 10
if a < 10 or a >10 :
    print("try to do something")
else:
    print("not")

not

In [52]:
a = 10
if a < 10 and a >10 :
    print("try to do something")

In [53]:
a = 10
if a < 10 or a == 10 :
    print("try to do something")

try to do something

In [54]:
a = "sudh"
if a == "sudh" and a == 10 :
    print("there is sudh")

In [55]:
a = "sudh"
if a == "sudh" and a == "sudh" :
    print("there is sudh")

there is sudh

In [56]:
a = "sudh"
if a == "sudh" or a == 10 :
    print("there is sudh")

there is sudh

In [57]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("lets do something")

In [58]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("lets do something")

lets do something

In [59]:
d = {'key1' : "value","key2"  : "sudh","key3":"ineuron"}

In [60]:
if d['key1'] == "value"and d['key2']== "sudh" and d['key3']=="ineuron":
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [61]:
if d['key1'] == "value"and d['key2']== "sudh" and d['key3']=="ineuron":
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

### loop

In [62]:
l = [1,2,3,4,5,"sudh",234.45]

In [63]:
l[0]

1

In [64]:
[1]

[1]

In [65]:
l[2:5]

[3, 4, 5]

In [66]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [67]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [68]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [69]:
for i in l:
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1

In [70]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [71]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]