In [1]:
l = [1,2,3,4,"sudh","kumar",45.56]

In [2]:
for m in l :
    print(m)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :

IndentationError: expected an indented block (3640463963.py, line 1)

In [4]:
for i in l :
    pass

In [5]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [6]:
for i in l :
    print(i)
else:
    print("if for loop is gping to complete itself then it will execute else")

1
2
3
4
sudh
kumar
45.56
if for loop is gping to complete itself then it will execute else

In [7]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [10]:
for i in l :
    if i == 4:
        break
    print(i)
else :
    print("if for loop is gping to complete itself then it will execute else")

1
2
3

In [11]:
s = "shudhanshu"
for i in s :
    if i == 'n':
        break
    print(i)
else:
    print("print string", s)

s
h
u
d
h
a

In [12]:
s = "shudhanshu"
for i in s :
    if i == 'n':
        print(i)
else:
    print("print string", s)
    
    
### there is no break

n
print string shudhanshu

In [13]:
s = "shudhanshu"
for i in s :
    if i == 'z':
        break
    print(i)
else:
    print("print string", s)

s
h
u
d
h
a
n
s
h
u
print string shudhanshu

In [14]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [15]:
b = {4,5,6,7,8,7,7,7,7,7,8,"sudh"}

In [16]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [17]:
for i in b :
    print(i)

sudh
4
5
6
7
8

In [18]:
d = {"key1" : "sudh" , "contact" : "shudhanshu@ineuron" , 'position' : "xyz"}

In [19]:
for i in d :
    print(i)

key1
contact
position

In [20]:
d['key1']

'sudh'

In [21]:
for i in d :
    print(d[i])

sudh
shudhanshu@ineuron
xyz

In [22]:
for i in d :
    print(i ,d[i])

key1 sudh
contact shudhanshu@ineuron
position xyz

In [23]:
for i in d :
    print(i, ":" , d[i])

key1 : sudh
contact : shudhanshu@ineuron
position : xyz

In [24]:
range(9)

range(0, 9)

In [25]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [27]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
set(range(9))

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
for i in range(9) :
    print(i)

0
1
2
3
4
5
6
7
8

In [30]:
range(0,9)

range(0, 9)

In [31]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
list(range(0 ,9 , 2))

[0, 2, 4, 6, 8]

In [34]:
list(range(0 ,9 , -1))

[]

In [35]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
n = 4
for i in range(4) :
    for j in range (0, i+1) :
        print("sudh" , end = "  ")
    print("\n")

sudh

sudh  sudh

sudh  sudh  sudh

sudh  sudh  sudh  sudh

In [41]:
n = 3 
for i in range(n):
    for j in range(i,n-1) :
        print(" "*len("sudh"),end = " ")
    for j in range(i + 1) :
        print("sudh",end = " ")
    for j in range (i) :
        print("sudh",end= " ")
    print("\n")

          sudh

     sudh sudh sudh

sudh sudh sudh sudh sudh

In [42]:
t = (3,23,45,67,2,4,5,6)

In [43]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [44]:
s = "ineuron"
for v in range(len(s)):
    print(v, s[v])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [45]:
s

'ineuron'

In [46]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [47]:
list(range(len(s)-1,-1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [48]:
for i in range(len(s)-1,-1, -1) :
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [49]:
d

{'key1': 'sudh', 'contact': 'shudhanshu@ineuron', 'position': 'xyz'}

In [50]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'shudhanshu@ineuron'), ('position', 'xyz')])

In [51]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'shudhanshu@ineuron')
('position', 'xyz')

In [52]:
for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'shudhanshu@ineuron') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [53]:
l = ["sudh","kumar",3234545,"sudhanshu@ineuron.ai",345, 34345353]

In [54]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [55]:
l1

[3234545, 345, 34345353]

In [56]:
d = {1 : 223232, "name" : "sudh",'email_id' : "shudhanshu@ineuron.ai", 234: "fsfddsf","43":"sfsaf" , 234 : "3454"}

In [57]:
for i in d:
    if type(i) == int :
        print(i," ",d[i])

1   223232
234   3454

In [58]:
s = "aaabbccd"

In [59]:
set(s)

{'a', 'b', 'c', 'd'}

In [60]:
for i in set(s):
    print(i , ": ", s.count(i))

c :  2
a :  3
b :  2
d :  1

In [61]:
s.count('a')

3

In [62]:
i = 345346554646435
for j in i:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
str(i)

In [63]:
i = 345346554646435
for j in str(i):
    print(j)

3
4
5
3
4
6
5
5
4
6
4
6
4
3
5

In [64]:
i = 345346554646435
for j in str(i):
    print(int(j)," : " , type(int(j)))

3  :  <class 'int'>
4  :  <class 'int'>
5  :  <class 'int'>
3  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
5  :  <class 'int'>
5  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
4  :  <class 'int'>
3  :  <class 'int'>
5  :  <class 'int'>

In [65]:
str(i)

'345346554646435'

In [66]:
i = 345346554646435
for j in str(i):
    print((j) ," : " , type(int(j)))

3  :  <class 'int'>
4  :  <class 'int'>
5  :  <class 'int'>
3  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
5  :  <class 'int'>
5  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
4  :  <class 'int'>
3  :  <class 'int'>
5  :  <class 'int'>

In [67]:
i = '345346554646435'
for j in (i):
    print(int(j)," : " , type(int(j)))

3  :  <class 'int'>
4  :  <class 'int'>
5  :  <class 'int'>
3  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
5  :  <class 'int'>
5  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
4  :  <class 'int'>
6  :  <class 'int'>
4  :  <class 'int'>
3  :  <class 'int'>
5  :  <class 'int'>

In [68]:
t = ("sudh" , "kumar",[1,2,3,4], (3,4,5,6),{"key1" : "sudh", "key2" : "kumar"} )

In [69]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)

3
3

In [70]:
t = ("sudh" , "kumar",[1,2,3,4], (3,4,5,6),{3: "sudh", "key2" : "kumar"} )

In [71]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
         for j in i:
                if j == 3:
                    print(j)

3
3
3

In [72]:
t = ("sudh" , "kumar",[1,2,3,4], (3,4,5,6),{3: 3, "key2" : "kumar"} )

In [73]:
t = ("sudh" , "kumar",[1,2,3,4], (3,4,5,6),{3: 3, "key2" : "kumar"} )
for i in t:
    if type(i) == list or type(i) == tuple :
         for j in i:
                if j == 3:
                    print(j)
    if type(i) == dict:
        print(i)

3
3
{3: 3, 'key2': 'kumar'}

In [74]:
for i in t:
    if type(i) == list or type(i) == tuple :
         for j in i:
                if j == 3:
                    print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [75]:
d = {4:5 , "key1" : "sudh" ,"key2" : "kumar"}

In [76]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [77]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [78]:
for i,j in d.items():
    print(i)

4
key1
key2

In [79]:
a = 10
b = 20
c = 30

In [80]:
a,b,c = 10,20,30

In [81]:
a,b,c =(10,20,30)