In [13]:
s = "this is my first python programming class and I am learning python string and its fuction"

In [14]:
s[0:300:3]

'tssyityopgmncsa alrnph rgni co'

### # s = "this is my first python programming class and I am learning python string and its fuction
1.Try to extract data from index one to index 300 with a jump of 3"
2.Try to reverse a string without using reverse function
3.Try to split a string after conversion of entire string in uppercase
4.Try to convert string in to lowercase
5.Try to capitalize the whole string
6.Write a diference between isalnum() and isalpha()
7.Try to give an expand tab.
8.Give an example of strip and rstrip.
9.Replace a string charecter by another charactor by taking your own example
10.Try to give a definition of string center function with an example
11.Write youyr own definition of compiler and interpretor without copy paste from internet in your own language
12.Python is a interpreted of compiled language give clear ans with your understanding
13.Try to write a usecase of python with your own understanding 
you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may.

In [15]:
s[::-1]

'noitcuf sti dna gnirts nohtyp gninrael ma I dna ssalc gnimmargorp nohtyp tsrif ym si siht'

In [16]:
s.lower()

'this is my first python programming class and i am learning python string and its fuction'

In [17]:
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUCTION'

In [18]:
s.capitalize()

'This is my first python programming class and i am learning python string and its fuction'

In [19]:
s1 = "sudh"
s1.isalnum()

True

In [21]:
s2 = "sudh345"
s2.isalpha()

False

In [22]:
s = "xyzu\t12345\tabc"
s.expandtabs()

'xyzu    12345   abc'

In [23]:
baby = "        no mom       "

In [24]:
baby.strip()

'no mom'

In [25]:
baby.lstrip()

'no mom       '

In [26]:
baby.rstrip()

'        no mom'

In [31]:
###9.Replace a string charecter by another charactor by taking your own example
ad = "cold storage"
ad.replace("storage","cloud")

'cold cloud'

In [33]:
b = "coder"
b.center(23,"*")

'*********coder*********'

In [35]:
###11.Write youyr own definition of compiler and interpretor without copy paste from internet in your own language

### task 2

#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [36]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [37]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [38]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [39]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [40]:
l[7][0]

234

In [41]:
l[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [42]:
l[8].keys()[1]

TypeError: 'dict_keys' object is not subscriptable

In [45]:
list(l[8].keys())[1]

234

In [46]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [47]:
l[5][1]

456

In [48]:
l[5]

[23, 456, 67, 8, 78, 78]

In [49]:
l[6]

[345, 56, 87, 8, 98, 9]

In [50]:
l[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [51]:
l[8]['key1']

'sudh'

In [52]:
l[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [55]:
list(l[8].keys())

['key1', 234]

In [56]:
l[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [57]:
l[8].values()

dict_values(['sudh', [23, 45, 656]])

In [58]:
list(l[8].values())

['sudh', [23, 45, 656]]

### Task 3

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [70]:
#q1
row = int(input("please enter how many rows  you want to print "))
print()
for i in range(row):
    print("  iNeuron  " * (i+1))

please enter how many rows  you want to print 7

  iNeuron
  iNeuron    iNeuron
  iNeuron    iNeuron    iNeuron
  iNeuron    iNeuron    iNeuron    iNeuron
  iNeuron    iNeuron    iNeuron    iNeuron    iNeuron
  iNeuron    iNeuron    iNeuron    iNeuron    iNeuron    iNeuron
  iNeuron    iNeuron    iNeuron    iNeuron    iNeuron    iNeuron    iNeuron

In [80]:
#q2
for i in range(6):
    if i<= 3:
        n = i
    else:
        n = 6 - i
    print((" ineuron "*n).center(30,' '))

           ineuron
       ineuron  ineuron
  ineuron  ineuron  ineuron
       ineuron  ineuron
           ineuron

In [81]:
###q3

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [82]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [83]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [84]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [95]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [98]:
#### q6 : Try to extract all the numerical data it may b a part of dict key and values
l1= []
for i in l:
    if type(i)==list or type(i) == tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [97]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [102]:
d =  {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8}
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [103]:
sum(l1)

156

In [104]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [105]:
for i in l1:
    if i %2 == 0 :
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [106]:
#q9

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [111]:
l1= []
for i in l:
    if type(i)==list or type(i) == tuple or type(i)==set:
        for j in i:
            if j =='ineuron':
                l1.append(j)
    if i== 'ineuron':
        for k in i.items():
            for g in k:
                if g == 'ineuron':
                    l1.append(g)

In [112]:
l1

['ineuron']

In [113]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [115]:
l1= []
for i in l:
    if type(i)==list or type(i) == tuple or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int or type(g)== str:
                    l1.append(g)

In [116]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [117]:
for i in set(l1):
    print(i,":" ,l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
kumar : 1
ineuron : 2
8 : 1
45 : 1
data science  : 1
23 : 1
k1 : 1
k2 : 1
k3 : 1

In [118]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [119]:
for i in l:
    if type(i) == dict:
        print(len(list(i.keys())))

5

In [120]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [122]:
for i in l1:
    if type(i)==str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [123]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [125]:
for i in l1:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

#

In [134]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [137]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [142]:
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
            if type(j)==int:
                m = m*j
        print(type(j),m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n) == int:
                    m = m*n
        print(type(i),m)

<class 'int'> 24
<class 'int'> 720
<class 'int'> 2520
<class 'int'> 20700
<class 'dict'> 1008
<class 'str'> 1

In [144]:
### q15
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

### task 4

Your First Challenge : 
    
you have to submit it by next saturday 4th june 2022  : 
    shivan@ineuron.ai ,sudhanshu@ineuron.ai
    
q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

### q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * *

In [150]:
i  = 9
n = 1
while n <= i:
    print('* '*n)
    n = n+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

## q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y

In [1]:
x=0
while x<8:
    content = ""
    y = 0
    while y<x:
        z = 0
        sum = 0
        while z<y:
            sum+=6-z
            z+=1
        if (x+64+sum)<=(64+26):
            content == " "+ chr(x+64+sum)
        y+=1
    print(content)
    x+=1

In [2]:
###q3 : Try to print all the number divisible by 3 in between a range of 40 - 400

In [3]:
i = 40
while i<= 400:
    if i%3 == 0:
        print(i)
    i = i+1

42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399

In [12]:
###q4 : Try to filter out all the vowels form below text by using while loop : 
s = """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc"""

In [13]:
i = 0
v =  'aeiou'
s = s.lower()
while i < len(s):
    if s[i] in v:
        print(s[i])
    i = i+1

o
i
a
i
e
e
i
e
e
e
e
e
a
u
o
e
o
a
i
a
u
a
e
i
e
i
i
o
o
e
a
i
e
o
e
e
a
a
i
i
i
e
u
e
o
i
i
i
a
i
e
a
i
o
o
i
a
i
a
e
a
a
a
e
o
e
e
i
u
o
u
i
e
o
a
i
a
a
i
i
u
i
u
u
e
a
i
u
a
o
e
u
a
o
e
o
i
e
e
a
u
i
o
a
o
a
i
i
i
o
e
e
i
e
a
a
a
e
i
e
i
u
e
a
u
a
e
u
e
o
i
o
e
e
i
e
a
a
i
a
u
i
o
a
o
u
e
a
o
i
o
o
i
e
a
e
a
a
u
e
o
o
e
a
o
a
i
a
u
a
e
a
i
e
e
a
e
i
i
a
o
o
a
e
e
a
e
i
a
i
o
u
e
e
e
a
u
e
u
a
i
o
e
e
i
o
e
e
e
i
a
a
e
o
e
i
o
e
e
e
e
o
u
i
a
u
i
o
e
u
o
o
e
e
a
e
i
a
a
a
o
e
i
i
o
a
i
o
o
e
e
a
a
o
a
i
e
i
e
a
i
e
e
i
o
o
a
i
o
i
u
e
i
e
i
o
i
o
o
i
e
a
a
o
e
o
e
o
o
u
a
o
a
i
a
u
a
e

In [8]:
i = 1
while i<= 400:
    if i%2 == 0:
        print(i)
    i = i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400

In [14]:
s

'python is a high-level, interpreted, general-purpose programming language. its design philosophy emphasizes code readability with the use of significant indentation.[32]\n\npython is dynamically-typed and garbage-collected. it supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. it is often described as a "batteries included" language due to its comprehensive standard library.[33][34]\n\nguido van rossum began working on python in the late 1980s as a successor to the abc programming language and first released it in 1991 as python 0.9.0.[35] python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and unicode support. python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. python 2 was discontinued with version 2.7.18 in 2020.[36]\n\npython consistently ranks as one of the most popular programming languagesc'

In [16]:
###q7 : write a code to get a time of your system 
import datetime
datetime.datetime.now().time()

datetime.time(17, 51, 30, 316031)

In [17]:
###q8 : Write a code to fetch date form your system 
import datetime
datetime.date.today()

datetime.date(2022, 6, 4)

In [ ]:
###q9 : Write a code to send a mail to your friend 
import = smtplib.SMTP('smtp.gmail.com',587)

server.starttls()

server.login('***@gmail.com',"***")

server.sendmail('**@gmai.com','**@gmail.com','TEST EMAIL from python')

In [18]:
###q10 : write a code to trigger alarm for you at scheduled time

In [ ]:
import time
import paysound

alarm_time = '10.22'

In [19]:
###q11

In [1]:
pip install winapps

Requirement already satisfied: winapps in c:\users\soume\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: plumbum<2.0,>=1.6 in c:\users\soume\anaconda3\lib\site-packages (from winapps) (1.7.2)
Requirement already satisfied: pywin32 in c:\users\soume\anaconda3\lib\site-packages (from plumbum<2.0,>=1.6->winapps) (228)
Note: you may need to restart the kernel to use updated packages.